* {
    box-sizing: border-box;
  }

  @font-face{
    font-family: srisakdi;
    src:url(../Fonts/Srisakdi-Regular.ttf)
  }
  
  :root{
    --first-font: khand;
    --second-font: kalam;
    --main-font: Srisakdi; 
  
  }

  h1 {
    font-family: var(--main-font);
    font-size: 312.5%;
    text-align: center;
    padding-bottom: 20px;
  }

  h2 {
    font-family: var(--main-font);
    font-size: 218.75%;
    word-break: break-all;
    padding-bottom: 20px;
    color: white;
  }

  p {
    font-family: var(--main-font);
    font-size: 137.5%;
    padding-bottom: 20px;
    color: white;
  }

  .column {
    float: left;
    width: 45%;
    height: 350px;
    background-color: #474e5d;
    background-image: url(../Images/footerbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .column1 {
    float: left;
    width: 45%;
    height: 350px;
    margin-bottom: 40px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }