body {
    font-size: 18px;
}
  
  @font-face{
    font-family: srisakdi;
    src:url(../Fonts/Srisakdi-Regular.ttf)
  }
  
  :root{
    --first-font: khand;
    --second-font: kalam;
    --main-font: Srisakdi; 

  }  

  h1 {
    font-family: var(--main-font);
    font-size: 50px;
    word-break: break-all;
    text-align: center;
    padding-bottom: 20px;
}

  h2 {
      font-family: var(--main-font);
      font-size: 50px;
      color: white;
      word-break: break-all;
      text-align: center;
      padding-bottom: 20px;
}
  
p {
      text-align: center;
      font-family: var(--main-font);
      font-size: 22px;
      color: white;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
   
.container {
    border-radius: 5px;
    background-color: #474e5d;
    background-image: url(../Images/dark\ background.jpg);
    color: white;
    padding: 10px;
    opacity: 0.8;
}
  
.container:hover {
    border-radius: 5px;
    background-color: #e1b643;
    padding: 10px;
    opacity: 1;
}
  
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #7d8b11;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 5px #999;
}
  
.button:hover {background-color: #c1d92e}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
  
/* Responsive layout*/
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}