* {
    box-sizing: border-box;
  }
  
  @font-face{
    font-family: khand;
    src:url(../Fonts/Khand-Regular.ttf)
  }
  
  @font-face{
    font-family: kalam;
    src:url(../Fonts/Kalam-Regular.ttf)
  }
  
  @font-face{
    font-family: srisakdi;
    src:url(../Fonts/Srisakdi-Regular.ttf)
  }
  
  :root{
    --first-font: khand;
    --second-font: kalam;
    --main-font: Srisakdi; 

  }

  body {
    background-color: #fff;
  }
  
  article.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  article.gallery:hover {
    border: 1px solid #f9bb13;
  }
  
  article.gallery img {
    width: 100%;
  }
  
  section.desc {
    padding: 15px;
    text-align: center;
  }
  
  h1 {
    font-size: 312.5%;
    word-break: break-all;
    font-family: var(--main-font);
  }

  p {
    font-family: var(--main-font);
    padding-bottom: 14px;
  }

  section.reference {
    padding-top: 5%; 
    text-align: center;
    padding-top: 5%;
  }