* {
    box-sizing: border-box;
  }
  
  @font-face{
    font-family: khand;
    src:url(../Fonts/Khand-Regular.ttf)
  }
  
  @font-face{
    font-family: kalam;
    src:url(../Fonts/Kalam-Regular.ttf)
  }
  
  @font-face{
    font-family: srisakdi;
    src:url(../Fonts/Srisakdi-Regular.ttf)
  }
  
  :root{
    --first-font: khand;
    --second-font: kalam;
    --main-font: Srisakdi; 
  
    font-family: var(--main-font)
  }

  body {
    background-color: #fff;
    padding: 20px;
    font-family: var(--main-font);
  }
  
  .main {
    max-width: 950px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    font-family: var(--main-font);
  }
  
  .row {
    margin: 10px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    display: none;
  }
   
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  .show {
    display: block;
  }
  
  /* Buttons Style */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #e1b643;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #decc9d;
  }
  
  .btn.active {
    background-color: #977008;
    color: white;
  }