*{
    box-sizing: border-box;
    margin:0 ; 
} 

#navbar {
    float: right;
    padding: 50PX;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
}

#navbar a:hover {
    color: #f9bb13;
}

#Showcase {
    background-image: url(../Images/food-background.jpg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Showcase section{
    float: left;
    padding: 20px;
}
#Showcase h1{
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    padding-top: 300px;
    padding-bottom: 10px;
    text-align: center;
}

#Showcase p {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 20px;
    text-align: center;
}

.btn {
    border-radius: 4px;
    color: white;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 42.35%;
}

.btn:hover {
    background-color: #d9d9d9;
    color: #000;
}

/* Center website */
.main {
    max-width: 1480px;
    margin: auto;
}

h2 {
    font-family: 'Srisakdi';
    font-size: 50px;
    word-break: break-all;
    text-align: center;
    padding: 35px;
  }
  
.main p {
    text-align: center;
    font-family: 'Srisakdi';
    font-size: 22px;
  }
  
h3 {
    font-family: 'Srisakdi';
    font-size: 22px;
    text-align: center;
    color: #c1d92e;
  }
  

.row {
    margin: 8px -16px;
  }
  
  /* Columns */
  .row,
  .row > .column {
    padding: 8px;
  }
  
.column {
   float: left;
   width: 33.3%;
 }
   
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Column Content */
  .content {
    padding: 10px;
  }
  
  /* Responsive layout - Two columns*/
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout -  columns stack on top of each other  */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

#main-footer {
    background-image: url(../Images/dark\ background.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

#main-footer p {
    position: relative;
    color: #d9d9d9;
}


#main-footer ul {
    float: right;
    padding-bottom: 50px;
    padding-right: 150px;
    font-size: 30px;
    list-style: none;
}

#main-footer a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
}

#main-footer a:hover {
    color: #f9bb13;
}

a {
    color: #b89537;
}
a:hover {
    color: #f9bb13;
}


