*{
    box-sizing: border-box;
    margin:0 ; 
} 

#navbar {
    float: right;
    padding: 50PX;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
}

#navbar a:hover {
    color: #f9bb13;
}

@media screen and (max-width: 600px) {
    #navbar a:not(:first-child) {display: none;}
    #navbar a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    #navbar.responsive {position: relative;}
    #navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

#main-footer {
    background-image: url(../Images/footerbackground.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

#main-footer p {
    position: relative;
    color: #d9d9d9;
}


#main-footer ul {
    float: right;
    padding-bottom: 50px;
    padding-right: 150px;
    font-size: 30px;
    list-style: none;
}

#main-footer a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
}

#main-footer a:hover {
    color: #f9bb13;
}

a {
    color: #b89537;
}
a:hover {
    color: #f9bb13;
}