@font-face{
  font-family: khand;
  src:url(../Fonts/Khand-Regular.ttf)
}

@font-face{
  font-family: kalam;
  src:url(../Fonts/Kalam-Regular.ttf)
}

@font-face{
  font-family: srisakdi;
  src:url(../Fonts/Srisakdi-Regular.ttf)
}

:root{
  --first-font: khand;
  --second-font: kalam;
  --main-font: Srisakdi; 

}

h1 {
    text-align: center;
    font-family: var(--first-font);
    font-size: 137.5%;
    padding: 10px;
   }

   
h2 {
  text-align: center;
  font-family: var(--first-font);
  font-size: 121.875%;
  padding: 10px;
 }
   
   p {
    text-align: center;
    font-family: var(--first-font);
    font-size: 100%;
    padding: 10%;
   }
   
   .post {
    width: 100%;
    text-align: center;
    margin: 20%;
   }
   
   .blogImgs {
    width: 100%;
   }
   
   .img {
    float: left;
    width: 25%;
   }
   
   .img:after {
       content: "";
       display: table;
       clear: both;
   }
   
   .pagination {
     display: inline-block;
     padding-top: 40px;
     text-align: center;
   }
   
   .pagination a {
     color: black;
     float: left;
     padding: 8px 16px;
     text-decoration: none;
   }
   
   .pagination a.active {
     background-color: #f9bb13;
     color: white;
     border-radius: 5px;
   }
   
   .pagination a:hover:not(.active) {
     background-color: #f9bb13;
     border-radius: 5px;
   }